extends layout

block content
    .page-header
        h2 #{category.name}

    .row
        each comic, i in comics
            .col-md-3
                .panel.panel-default
                    div(style="padding-left: 10px")
                        .col-md-8
                            h4 #{comic.comicTitle}
                        .col-md-1
                            div(style="padding-top: 10px")
                            button(
                            type="button"
                            class="btn btn-xs"
                            data-toggle="popoverComic"
                            title="Additional Options"
                            data-image='/images/reading-list.jpg'
                            data-comicid="#{comic._id}"
                            data-username="name"
                            ) Options
                        .row(align='center')
                            .panel-body <a href="/view/#{comic._id}"><img height="25%" src="#{comic.panels[0].source}"></img></a>