extends layout

block content
  each comic, i in comics
    if comic._id == comicID
      .row
        .col-md-4.col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading Upload a New Panel
            .panel-body
              each comic, i in comics
                if comic._id == comicID
                  form(method="post", action="/comics/#{comic._id}/edit/addpanel")
                    input(type="url", name="source", placeholder='source')
                    input(type="submit", value="Upload")
        .col-md-3
          .panel.panel-default
            .panel-heading Description
            .panel-body #{comic.description}

        .col-md-3
          .panel.panel-default
            .panel-heading Comic Category
            .panel-body #{comic.comicCategory}
      .row
        h1(align='center') #{comic.comicTitle}

      body
        .row
              form#formDeletecomic( method="post", action="/comics/#{comic._id}/edit/deletecomic")
                input(name="comicID", type="hidden", value=comic._id)
                div(style='text-align:right')
                  input(value="Delete Entire Comic", type="submit")
              each panel, index in comic.panels
                .col-md-4.col-sm-6.col-xs-12
                  .panel.panel-info
                    .panel-body
                      div(style='text-align:center')
                        img(src='#{panel.source}', width='170', height='170')
                        form#formSwapPanel( method="post", action="/comics/#{comic._id}/edit/swappanel")
                          input(name="index", type="hidden", value=index)
                          input(value="Swap", type="submit")
                        -var cid = [panel._id]
                        each val in cid
                          form#formDeletepanel( method="post", action="/comics/#{comic._id}/edit/deletepanel")
                            input(name="panelID", type="hidden", value=val)
                            input(value="Delete this panel", type="submit")

    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )