extends layout

block content
      .row
        .col-md-4.col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading ToolBox
            .panel-body
              form( method="post", action="/comics/:id/edit/addpanel")
                input(type="url", name="_id", placeholder='Insert URL')
                input(type="submit", value="Update Panel")
        .col-md-3
          .panel.panel-default
            .panel-heading Description
            .panel-body #{comicdescription}

        .col-md-3
          .panel.panel-default
            .panel-heading Categories
            .checkbox.text-center
              label
                input(type='checkbox', value='')
                |     Animals
            .checkbox.text-center
              label
                input(type='checkbox', value='')
                |     Random
      .row
        h1.
          #{title}
        style.
          #div1, #div2, #div3, #div4, #div5, #div6
          {float:left; width:200px; height:200px; margin:30px;padding:10px; z-index: -1;border:5px solid #aaaaaa;}
        script.
          function allowDrop (ev) {
            ev.preventDefault ();
          }
          function drag (ev) {
            ev.dataTransfer.setData ("img", ev.target.id);
          }
          function drop (ev) {
            ev.preventDefault ();
            //get dragged data
            var data = ev.dataTransfer.getData("img");
            //get dragged data's element id
            var img = document.getElementById (data);
            // the dragged image drop element
            var imgParent = img.parentNode;
            // selects image not dragged
            var ndrag = ev.currentTarget.firstElementChild;
            //replace dragged image with ndrag image
            ev.currentTarget.replaceChild (img, ndrag);
            //append ndrag with img drop element
            imgParent.appendChild (ndrag);
          }
          function removePanel1 (event){
            var parent = document.getElementById("div1");
            parent.removeChild(parent.firstChild);
          }
          function removePanel2 (event){
            var parent = document.getElementById("div2");
            parent.removeChild(parent.firstChild);
          }
          function removePanel3 (event){
            var parent = document.getElementById("div3");
            parent.removeChild(parent.firstChild);
          }
          function removePanel4 (event){
            var parent = document.getElementById("div4");
            parent.removeChild(parent.firstChild);
          }
          function removePanel5 (event){
            var parent = document.getElementById("div5");
            parent.removeChild(parent.firstChild);
          }
          function removePanel6 (event){
            var parent = document.getElementById("div6");
            parent.removeChild(parent.firstChild);
          }
      body
          //form#formDeletepanel( method="delete", action="/comics/:id/edit/deletepanel")
          //input(id="delete", value="X", type="submit")
          //button(type='submit', onclick='removePanel1(event)') DELETE PANEL test
          .row
            #div1(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag1(src='#{panels[0].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
            #div2(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag2(src='#{panels[1].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
            #div3(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag3(src='#{panels[2].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
          .row
            .col-md-3
              button(type='submit', onclick='removePanel1(event)') Remove Panel 1
            .col-md-3
              button(type='submit', onclick='removePanel2(event)') Remove Panel 2
            .col-md-3
              button(type='submit', onclick='removePanel3(event)') Remove Panel 3
          .row
            #div4(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag4(src='#{panels[3].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
            #div5(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag5(src='#{panels[4].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
            #div6(ondrop='drop(event)', ondragover='allowDrop(event)')
              img#drag6(src='#{panels[5].source}', draggable='true', ondragstart='drag(event)', width='170', height='170')
          .row
            .col-md-3
              button(type='submit', onclick='removePanel4(event)') Remove Panel 4
            .col-md-3
              button(type='submit', onclick='removePanel5(event)') Remove Panel 5
            .col-md-3
              button(type='submit', onclick='removePanel6(event)') Remove Panel 6

    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )