extends layout

block content
  each comic, i in comics
    if comic._id == comicID
      .row
        .col-md-4.col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading(style='font-size:150%;')
              b.
                Upload a New Panel
            div(style='text-align:center')
              .panel-body
                each comic, i in comics
                  if comic._id == comicID
                    form(method="post", action="/comics/#{comic._id}/edit/addpanel")
                      input(type="url", name="source", placeholder='source')
                      input(type="submit", value="Upload")
        .col-md-4.col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading(style='font-size:150%;')
              b.
                Description
            div(style='text-align:center')
              .panel-body #{comic.description}

        .col-md-4.col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading(style='font-size:150%;')
              b.
                Comic Category
            div(style='text-align:center')
              .panel-body #{comic.comicCategory}
      .row
        h1(align='center', style='font-size:500%;') #{comic.comicTitle}

      body
        .row
              form#formDeletecomic( method="post", action="/comics/#{comic._id}/edit/deletecomic")
                input(name="comicID", type="hidden", value=comic._id)
                div(style='text-align:right')
                  input(value="Delete Entire Comic", type="submit")
              if comic.publish == false
                form#formPublish( method="post", action="/comics/#{comic._id}/edit/publish")
                  input(name="comicID", type="hidden", value=comic._id)
                  div(style='text-align:right')
                    input(value="Publish", type="submit")
              else
               form#formUnpublish( method="post", action="/comics/#{comic._id}/edit/unpublish")
                  input(name="comicID", type="hidden", value=comic._id)
                  div(style='text-align:right')
                    input(value="Unpublish", type="submit")
              hr
              -var numPanels = comic.panels.length
              each panel, index in comic.panels
                .col-md-4.col-sm-6.col-xs-12
                  .panel.panel-info
                    .panel-body
                      div(style='text-align:center')
                        img(src='#{panel.source}', width='170', height='170')
                        form#formSwapPanel( method="post", action="/comics/#{comic._id}/edit/swappanel")
                          input(name="index", type="hidden", value=index)
                          if (index + 1) < numPanels
                            input(value="Swap Right", type="submit")
                          else
                            input(value="Swap Left", type="submit")
                        -var cid = [panel._id]
                        each val in cid
                          form#formDeletepanel( method="post", action="/comics/#{comic._id}/edit/deletepanel")
                            input(name="panelID", type="hidden", value=val)
                            input(value="Delete this panel", type="submit")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )