extends layout

block content
			.page-header
				h1 comics about animals
			.row
				each comic, i in comics
					if comic.category == "Animals"
						.col-md-4.col-sm-6.col-xs-12
							.panel.panel-default
								.panel-heading <a href="/view">#{comic.title}</a>
								.panel-body <a href="#{comic.image}"><img src="#{comic.thumb}"></img></a>

			.page-header
				h1 comics by cuek.co
			.row
				each comic, i in comics
					if comic.category == "CUEK.co"
						.col-md-4.col-sm-6.col-xs-12
							.panel.panel-default
								.panel-heading <a href="#{comic.image}">#{comic.title}</a>
								.panel-body <a href="#{comic.image}"><img src="#{comic.thumb}"></img></a>

		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )