extends layout

block content
    .page-header
        h1 Reading List
    .container
        .panel.panel-default
            if (user)
                each comic, i in readingList
                    .panel-body
                        .col-md-2
                            <a href="/view/#{comic._id}"><img height="25%" src="#{comic.panels[0].source}"></img></a>
                        .col-md-8
                            .row
                                h3 <a href="/view/#{comic._id}">#{comic.comicTitle}</a>
                                h4 Description: #{comic.description}
                                h5 Category: #{comic.comicCategory}
                                h5 Uploaded: #{comic.uploadDate}
                        .col-md-1
                            form(method="post" action="readinglist/remove")
                                div(style="padding-top: 10px; padding-left:140px")
                                    input(type='hidden' name='username' value="name")
                                    input(type='hidden' name='comicid' value="#{comic._id}")
                                    button(
                                    type="submit"
                                    class="btn btn-xs"
                                    title="Remove from Reading List"
                                    ) X