extends layout

block content
	.page-header
		h1 Search Comics
	.jumbotron
		.row
			.col-md-6.col-md-offset-1
				form(name="searchComics",method="post")
					.col-md-8
						input(type='text' name='query' class='form-control' placeholder='Enter your search here...', required)
					.col-md-4
						button(class='btn btn-md btn-primary btn-block', type='submit') Search


	.row
		if query == true
			h2 Search results
				.panel.panel-default
					if error == true
						.panel-body
							h3 #{message}
					if result == true
						each comic, i in results
							.panel-body
								.col-md-2
									<a href="/view/#{comic._id}"><img height="25%" src="#{comic.panels[0].source}"></img></a>
								.col-md-8.col-md-offset-0
									.row
										h3 <a href="/view/#{comic._id}">#{comic.comicTitle}</a>
										h4 Description: #{comic.description}
										h5 Category: #{comic.comicCategory}
										h5 Uploaded: #{comic.uploadDate}
								.col-md-2
									if (user)
										div(style="padding-top: 10px")
											button(
											type="button"
											class="btn btn-xs"
											data-toggle="popoverComic"
											title="Additional Options"
											data-image='/images/reading-list.jpg'
											data-inlist="#{comic.inReadingList}"
											data-comicid="#{comic._id}"
											data-username="name"
											) Options


