extends layout

block content
    .row(align='center')
        h2#top #{comic.comicTitle} Comic!
            br.
            <a href="/comics/#{comic._id}/view/all">EDIT PANEL</a>
            each panel in panels
                <br><img src="#{panel.source}"></img>
    .row(align='center')
        a(href='#top') Go to top
    .row
        each account in accounts
            <a href="/community/#{account.username}">#{account.username}</a>



